<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.faithgen.gallery">

    <application>
        <activity
            android:name=".AlbumActivity"
            android:label="@string/title_activity_album"
            android:parentActivityName=".GalleryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.faithgen.gallery.GalleryActivity" />
        </activity>
        <activity
            android:name=".GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>